.buttonLogout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 29px;
  background: #007bff;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 11.5px;
  line-height: 13px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.0821429px;
  color: #ffffff;
}
